/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");


/* Elements */
html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*  */
nav {
  font-size: 0.9rem;
  font-weight: 500;
}

ion-icon {
  color: white;
}

/* Landing Section */
.landingImg {
  /* background-image: url("./assets/landing-img.jpg"); */
  background-image: url("./assets/bg-1.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.title-head {
  font-family: "Oswald", sans-serif;
}

.title-landing-sm {
  font-family: "Anton", sans-serif;
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */

  line-height: 120%;
}

.title-landing {
  font-family: "Anton", sans-serif;
  letter-spacing: -1px;
  word-spacing: 5px;
  line-height: 100%;
}


/* Event Card List */
.card-slideshow::after {
  content: "";
  flex: 0 0 2rem;
}

.card-slideshow::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.underline-yellow {
  background-color: transparent;
  background-image: url("https://assets-global.website-files.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  position: relative;
  padding-bottom: 7px;
  margin-bottom: -7px;
}

.underline-green {
  background-color: transparent;
  background-image: url("./assets/underline-green.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: -6px;
}
